.intro {
    @extend %container;

    margin-bottom: $spacing*5;

    &__information {
        display: flex;
        margin-bottom: $spacing*5;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        > * {
            flex: 1 1 auto;
        }

        p {
            @media (max-width: 767px) {
                padding-bottom: $spacing*5;
            }

            @media (min-width: 768px) {
                width: 65%;
                padding-right: $spacing*5;
            }
        }

        div {
            @media (min-width: 768px) {
                width: 35%;
            }
        }
    }

    &__nutrition {
        h3 {
            margin: 0 0 $spacing;
        }

        h4 {
            font-family: 'Taviraj', serif;
            font-style: italic;
            font-weight: 300;
            font-size: 1.4rem;
            margin: $spacing 0 0;
        }

        ul {
            li {
                display: flex;
                padding: 2px 0;
    
                span {
                    margin-left: auto;
                }
    
                &:not(:last-of-type) {
                    border-bottom: solid 1px #eee;
                }
    
                &.child {
                    font-style: italic;
    
                    span {
                        font-style: normal;
                    }
    
                    &::before {
                        content: '-';
                        display: inline-block;
                        padding-right: 5px;
                    }
                }
            }
        }
    }

    &__varieties {
        margin-bottom: $spacing*5;
        display: flex;
        align-items: center;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li {
                font-family: 'Taviraj', serif;
                font-style: italic;
                font-weight: 300;
                font-size: 1.5rem;

                &:not(:last-of-type)::after {
                    content: ',';
                    display: inline-block;
                    padding-right: 3px;
                }

                &:first-of-type {
                    font-style: normal;
                    font-weight: 400;

                    &::after {
                        content: ':';
                    }
                }
            }
        }
    }
}
