.newsletter {
    background: #f7f1f1;
    text-align: center;
    padding: $spacing*10 $spacing*2 $spacing*12;
    margin-top: $spacing*5;

    input {
        border: none;
        padding: $spacing;
        font-size: 1.6rem;

        &:first-of-type {
            border-right: solid 2px #f7f1f1;
        }
    }

    button {
        background: #111;
        color: white;
        border: none;
        padding: $spacing $spacing*2;
        font-size: 1.6rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background: #079dad;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        max-width: 500px;
        margin: 0 auto;

        @media (min-width: 768px) {
            flex-flow: row wrap;
        }

        > div {
            width: 100%;
            padding-top: $spacing;
        }
    }
}
